[Unit]
Description=SinkConvert1
Wants=network-online.target
After=network-online.target

[Service]
User=nobody
Environment="serveruser=..." "server_url=..." "deviceid=..."

Type=simple
GuessMainPID=yes
ExecStart=/usr/bin/python3 /usr/local/bin/sinkConvert1.py
ExecStop=kill -SIGINT $mainpid
Restart=on-failure
WorkingDirectory=/tmp

[Install]
Alias=SinkConvert1
WantedBy=multi-user.target
